extends layout

block content
  .col-md-12.col-xs-12
    .panel.panel-default
      .panel-heading
        strong Masternode ROI Calculator
      .panel-body
        <center>
        :markdown

          ------

          ### *Result may vary due on Fluctuate Market & Blockchain Network*
        :markdown

          ------
        include ../public/roi.html

    .footer-padding
